@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/*heder styles*/
.header{
    max-width: 1440px;
    max-height: 715px;
    
}
/*shared styles*/
.display-flex{
    display: flex;
}

.text-white{
    color: #FFFFFF;
}
.text-light-white{
    color: #FFFFFF;
}
main{
    max-width:1060px;
    margin: 0 auto;
}
.bg-light{
    background-color: #000000;
}
/*navber related styles*/

.navber{
border: 2px solid #000000;
 max-width: 1060px;
 max-height: 54px;
 align-items: center;
 justify-content: space-between;

}
.brand{
    font-weight: 800px;
    font-size: 2rem;
    color: #E6533C;
}
.nav-links {
    border: 2px solid #000000;
    width: 471px;
    height: 54px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
   

}
.nav-item{
    font-weight: 400px;
    font-size: 1rem;
    gap: 47px;
    text-decoration: none;
    font-weight: 400px;
    font-size: 1.2rem;
}
.brand{
    font-weight: 800px italic;
    font-size: 2.4rem;
    color: #E6533C;
   
}
.blog{
    font-weight: 600px;
    font-size: 1rem;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 46px;
    padding: 8px 20px;
    border-radius: 39px;
    margin-top: -10px;
}
.navber, .banner{
    max-width: 1440px;
    margin:0 auto;
}

/*banner related styles*/
.banner{
    width:1060px;
    height: 580px;
    justify-content: center;justify-content: space-between;
    
}
.advertise{
   display: flex;
   align-items:center;
   justify-content: right;
   margin-left: 60%;
   width: 193px;
   height: : 111px;
    
}
.advertise{
    
    display: grid;
    margin-left: 70%;
 
}
.banner-content{
    justify-content: center;
    width: 1060px 
    
}


.banner-title{
    font-size: 5.8rem;
    width: 520px;
    height: 282px;
}
.advertise{
    border: 2px solid #222222a8;
    width: 198px;
    height: 111px;
    border-radius: 12px;
    padding: 20px 30px;
    background-color: hsl(0, 4%, 48%);
    color: #FFFFFF;
    margin-left: 170%;
    margin-top: -70%;
    text-align: center;
   
}
.advertise-title{
    display: block;
    text-align: center;
    margin-top: -2%;
    margin-right: 4%;
}
.banner-description {
    font-weight: 400px;
    font-size: 1.2rem;
    margin-top: 28px;
    width: 520px;
    height: 48px;
}

.banneer-img{
    width: 349px;
    height: 580px;
    margin-left: 15%;
    margin-right: auto;
     
}

.btn-primary{
    font-weight: 600px;
    font-size: 1.1rem;
    width: 211px;
    height: 54px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 42px;
    margin-top: 50%;
}
.btn-secondary{
    font-weight: 600px;
    font-size: 1.1rem;
    width: 224px;
    height: 54px;
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 42px;
    filter: drop-shadow(#FFFFFF);
    background-color: #000000
}

.extra{
    border: 2px solid #E6533C;
    background-color: #E6533C;
    width: 20%;
    height:40%;
    border-radius: 60%;
    color: #E6533C;

}
.direct{
    width: 216px;
    height: 96px;
    background-color: #636363;
    border: 2px solid #636363;
    border-radius: 12px;
    margin-top: -150%;
    margin-left: 100%;
    margin-top:-50%;
}
.direct-title{
    font-size: 1.2rem;
    margin-top: -30%;
}
.direct-description{
    font-weight: 400px;
    font-size: 1rem;
    margin-top: -30%;
}

/*teams related styles*/
.teams{
    text-align: center;
    margin-top: 100px;
    background-color: #000000;
}

.teams-title {
    font-size: 3rem;
}
.teams-description{
    font-weight: 400px;
    font-size: 1rem;
}

/*feature related styles*/
.feature{
    list-style: none;
}
.feature-img{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-top: 58px;
    gap: 40px;
}
.feature-title{
    font-weight: 600px;
    font-size:1.2rem ;
    text-align: center;
    align-items: center;
    margin-right: 10%;
    margin-right: 5%;

}
.feature-description{
    font-weight: 400px;
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;

}

/*section related styles*/
.section{
    width: 1060px;
    height: 371px;
    background-color: #222222;  
}
.section-content{
    border: 2px solid #222222;
    height: 290px;
    width: 443px;
    list-style: none;
    margin-right: 60%;
    
}
.section-title{
    font-weight: 600px;
    font-size: 1.2rem;
    margin-right: 20%;
    margin-left: 10%;
   
    
}
.section-description{
    font-weight: 400px;
    font-size: 1rem;
}
.section-btn{
    font-weight: 600px;
    font-size: 1.2rem;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
}
.section-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-left: 130%;
    margin-top: -53%;
}

/*table related styles */
.Calculate-table{
    background-color: #222222;
    border-collapse: collapse;
    width: 310px;
    height: 216px;
}
td, th{

    text-align: left;
    border: 2px solid #222222;
   padding: 10px 10px;
}
.Calculate-table-title{
    font-size: 2.5rem;
    margin-top: 5%;
}
.td{
    font-size: 1rem;
    font-weight: 400px;
    margin-top: 5%;
}
.th{
    font-size: 1rem;
    font-weight: 500px;
    margin-top: 5%;
}
.Calculate-tabel-description{
    width: 577px;
    margin-left: 38%;
    margin-top: -30%;
}
.Calculate-tabel-description-title{
    font-size: 1.5rem;
    margin-left: 8%;
}
.Calculate-tabel-description-content{
    font-weight: 400px;
    font-size: 1rem;
    margin-left: 8%;
}
.Calculate-tabel-description-item{
    width: 577px;
    height: 48px;
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 1rem;
    font-weight: 40px;
    
}
.item{
    width: 282.5px;
    height: 48px;
    border: 2px solid #222222;
    padding:12px 40px ;
    border-radius: 8px;
    text-align: left;
    margin-top: 12px;

}
.item-title{
    width: 577px;
    height: 48px;
}
.Calculate-content{
    border: 2px solid #222222;
    width: 577px;
    height: 48px;
    font-size: 1rem;
    font-weight: 400px;
    padding:20px 12px ;
    border-radius: 8px;
    margin-top: 10%;
    margin-left: 6%;
}
.Calculate-btn{
    font-weight: 600px;
    font-size: 1.2rem;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
    margin-left: 7%;
}
.background-color{
    background-color:#000000; ;
}
.Calculate{
    box-shadow: rgba(0, 0, 0, 0.2);
}

/*ourteam related styles*/
.container{
    width: 1060px;
    height: 782px;
  text-align: center;
  align-items: center ;
  margin-top: 88px;
}

.container-title{
    font-size: 3rem;
}
.container-description{
    font-weight: 400px;
    font-size: 1rem;
}
.container-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,272px);
    gap: 20px;
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    margin-top: 58px;
    margin-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.25);
}

#box-1, #box-2, #box-3, #box-4, #box-5, #box-6{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
}

/*footer styles*/
.footer{
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    max-width: 1440px;
    max-height: 489px;
    background-color: #222222
        
}

.primary{
    width: 443px; 
    margin-left: 20%; 
    margin-top: -18%;

}

.primary-title{
    width: 256px;
    font-weight: 800px;
    font-size: 4.2rem;
    color: #E6533C;
}

.primary-description{
    font-weight: 400px;
    font-size: 1rem;
    width: 443px;
    margin-top: -5%;
}

.secondary{
    width: 181px;
    height: 249px;
    margin-left: 40%;
}

.secondary-title{
    width: 181px;
    height: 34px;
    font-size: 2rem;
    font-weight: 700px;
}

.secondary-description{
    height: 172px;
    font-weight: 400px;
    font-size: 1.2rem;
}

.subsidiary{
    margin-left: 40%;
    width: 181px;
    height: 249px
    
}

.subsidiary-title{
    width: 181px;
    height: 34px;
    font-size: 2rem;
    font-weight: 700px;
}

.subsidiary-description{
    height: 172px;
    font-weight: 400px;
    font-size: 1.2rem;
}
.backup{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-around;
    width: 318px;
    height: 24px;
    margin-left: 40%;
    align-items: center;
    text-align: center;
}

.backup-title{
    text-align: center;
    align-items: center;
    font-weight: 400px;
    font-size: 1.2rem;
    margin-top: 10px;
}
.backup-line{
    width: 1059px;
    color: rgba(255, 255, 255, 0.1);
}
/*responsive media query*/
@media screen and (max-width: 576px) {
   .hide{
    display: none;
   }
   .naver{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
   }
   .banner{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   }
}
