@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/*shared styles*/
.display-flex{
    display: flex;
}
/*navber related styles*/
.navber{
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
}
.text-white{
    color: #FFFFFF;
}
.text-light-white{
    color: #FFFFFF;
}
main{
    max-width:1060px;
    margin: 0 auto;
}
.bg-light{
    background-color: #000000;
}
.nav-item{
    font-weight: 400px;
    font-size: 1rem;
    list-style: none;
    margin-right: 47px;
    margin-top: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400px;
    font-size: 1.2rem;
}
.brand{
    font-weight: 800px italic;
    font-size: 2.4rem;
    color: #E6533C;
   
}
.blog{
    font-weight: 600px;
    font-size: 1.2rem;
    padding: 4px 20px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 39px;
    margin-top: -10px;
}
.navber, .banner{
    max-width: 1440px;
    margin:0 auto;
}
/*banner related styles*/
.banner{
    width:100%;

}
.banner-content{
    max-width: 40%; 
    margin-bottom: 50px;
    margin-top: 87px;
}
.banner-title{
    font-size: 5.8rem;
}
.banner-description {
    font-weight: 400px;
    font-size: 1.2rem;
    margin-top: 28px;
}
.btn-primary{
    font-weight: 600px;
    font-size: 1.2rem;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
    margin-top: 28px;
}
.btn-secondary{
    font-weight: 600px;
    font-size: 1.2rem;
    border-radius: 42px;
    padding: 16px 40px;
    background-color: #000000;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.25);
}
.banneer-img{
    width: 349px;
    height: 580px;
    margin-left: 70%;
    margin-top: -43%;  
}
.banner-img{
    width: 100%;
}
/*teams related styles*/
.teams{
    text-align: center;
    margin-top: 100px;
    background-color: #000000;
}
.teams-title{
    font-size: 3rem;
}
.teams-description{
    font-weight: 400px;
    font-size: 1rem;
}
/*feature related styles*/
.feature{
    list-style: none;
}
.feature-img{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-top: 58px;
    gap: 40px;
}
.feature-title{
    font-weight: 600px;
    font-size:1.2rem ;
    text-align: center;
    align-items: center;
    margin-right: 10%;
    margin-right: 5%;

}
.feature-description{
    font-weight: 400px;
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    
}
/*section related styles*/
.section{
    width: 1060px;
    height: 371px;
    background-color: #222222;  
}
.section-content{
    border: 2px solid #222222;
    height: 290px;
    width: 443px;
    list-style: none;
    margin-right: 60%;
    
}
.section-title{
    font-weight: 600px;
    font-size: 1.2rem;
    margin-right: 20%;
    margin-left: 10%;
   
    
}
.section-description{
    font-weight: 400px;
    font-size: 1rem;
}
.section-btn{
    font-weight: 600px;
    font-size: 1.2rem;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
}
.section-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-left: 130%;
    margin-top: -53%;
}
/*table related styles */
.Calculate-table{
    background-color: #222222;
    border-collapse: collapse;
    width: 310px;
    height: 216px;
}
td, th{

    text-align: left;
    border: 2px solid #222222;
   padding: 10px 10px;
}
.Calculate-table-title{
    font-size: 2.5rem;
}
.td{
    font-size: 1rem;
    font-weight: 400px;
}
.th{
    font-size: 1rem;
    font-weight: 500px;
}
.Calculate-tabel-description{
    width: 577px;
    margin-left: 38%;
    margin-top: -30%;
}
.Calculate-tabel-description-title{
    font-size: 1.5rem;
    margin-left: 8%;
}
.Calculate-tabel-description-content{
    font-weight: 400px;
    font-size: 1rem;
    margin-left: 8%;
}
.Calculate-tabel-description-item{
    width: 577px;
    height: 48px;
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 1rem;
    font-weight: 40px;
    
}
.item{
    width: 282.5px;
    height: 48px;
    border: 2px solid #222222;
    padding:12px 40px ;
    border-radius: 8px;
    text-align: left;
    margin-top: 12px;

}
.item-title{
    width: 577px;
    height: 48px;
}
.Calculate-content{
    border: 2px solid #222222;
    width: 577px;
    height: 48px;
    font-size: 1rem;
    font-weight: 400px;
    padding:20px 12px ;
    border-radius: 8px;
    margin-top: 10%;
    margin-left: 6%;
}
.Calculate-btn{
    font-weight: 600px;
    font-size: 1.2rem;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
    margin-left: 7%;
}
.background-color{
    background-color:#000000; ;
}
.Calculate{
    box-shadow: rgba(0, 0, 0, 0.2);
}
/*ourteam related styles*/
.container{
    width: 1060px;
    height: 782px;
  text-align: center;
  align-items: center ;
  margin-top: 88px;
}

.container-title{
    font-size: 3rem;
}
.container-description{
    font-weight: 400px;
    font-size: 1rem;
}
.container-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,272px);
    gap: 20px;
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    margin-top: 58px;
    margin-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.25);
}
.box{
   
}

#box-1, #box-2, #box-3, #box-4, #box-5, #box-6{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
}

/*responsive media query*/
@media screen and (max-width: 576px) {
    .navber, .banner-img, .teams-img, .nav-links{
        flex-direction: column;
}

.our-features{
    flex-direction: column;
}
.feature-img{
    grid-template-columns: repeat(1, 1fr);
}
.hide{
    display: none;
}

}